[
    {
        "name": "test infcover",
        "files": ["test/infcover.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I.",
        "val-clone-on-recursive-calls-max-depth": "100"
    },
    {
        "name": "test minigzip without FS",
        "files": ["test/minigzip.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I.",
        "val-timeout" : 60
    },
    {
        "name": "test minigzip with FS",
        "files": ["test/minigzip.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -DTIS_INTERPRETER -I.",
        "val-args": " test.txt",
        "filesystem": { 
            "files": [
              { "name": "test.txt", "from": "input.txt" }
            ]
        }
    },
    {
        "name": "test example without FS",
        "files": ["test/example.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I.",
        "address-alignment": 8
    },
    {
        "name": "test example with FS",
        "files": ["test/example.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -DTIS_INTERPRETER -I.",
        "val-args": " output.gz input.gz",
        "filesystem": { 
            "files": [
              { "name": "input.gz", "from": "input.gz" }
            ]
        }
    },
    {
        "name": "example fitblk without FS",
        "files": ["examples/fitblk.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I."
    },
    {
        "name": "example fitblk with FS",
        "files": ["examples/fitblk.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN  -DTIS_INTERPRETER -I.",
        "val-args": "2",
        "filesystem": { 
            "files": [
              { "name": "test.txt", "from": "input.txt" }
            ]
        }
    },
    {
        "name": "example gun",
        "files": ["examples/gun.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I."
    },
    {
        "name": "example gzappend",
        "files": ["examples/gzappend.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I."
    },
    {
        "name": "example enough",
        "files": ["examples/enough.c", "adler32.c","crc32.c","deflate.c","infback.c","inffast.c","inflate.c","inftrees.c","trees.c","zutil.c","compress.c","uncompr.c","gzclose.c","gzlib.c","gzread.c","gzwrite.c"],
        "compilation_cmd": "-DHAVE_HIDDEN -I.",
        "val-timeout" : 60
    }
]
